.lista{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lista img{
    width: 300px;
    height: 100px;
    object-fit: cover;
}

.imagem-banner{
    width: 100pw;
    height: 300px;
    object-fit: cover;
}
